# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment variables
.env

# Python virtual environment
venv/
/venv/

# Python cache
__pycache__/
*.pyc

# Log files
*.log
script.log

# Data directories
data_downloads/
transformed_data/
test/
tests/
tests-examples/

# Debugging
abTestsReport.html
discoverLoggerChannels.py
diagnoseBom.py
diagnoseCsvDownload.py
diagnoseLoggerChannels.py
testHttpScraper.py 
